
<div class = "first">
<% if current_page?(jobs_path) %>
	<h3>Here are all your jobs</h3>
<% else %>
	<h3> Here are all the jobs booked with <%= @client.fullname %></h3>
<% end %>

<% @jobs.each do |job| %>
	<ul>
		<li><%= link_to "Go to #{job.name}", job_path(job) %></li>
	</ul>
<% end %>
</div>

<br>
<br>

<div class = "second">
<%= link_to "Add a Job", new_job_path %>
<br>
<%= link_to "See all Jobs by Category", categories_path %>
<br>
<%= link_to "See all Jobs Sorted By Date", jobsortdate_path %>
</div>