
<div class = "first" id="jobIndex">
<% if current_page?(jobs_path) %>
	<h3>Here are all your jobs</h3>
<% else %>
	<h3> Here are all the jobs booked with <%= @client.fullname %></h3>
<% end %>

<% @jobs.each do |job| %>
	<ul>
		<li><%= link_to "Go to #{job.name}", job_path(job) %></li>
	</ul>
<% end %>
</div>

<form class="jobAdding first" style="padding-top: 30px">
</form>

<br>
<br>

<div class = "second">
<%= link_to "Add a Job", new_job_path, class: "addJob" %>
<br>
<%= link_to "See all Jobs by Category", categories_path %>
<br>
<%= link_to "See all Jobs Sorted By Date", jobsortdate_path %>
</div>

<div class="first">
<h3 class = "jobName"></h3>

	<p class = "jobDate"></p>
	
	<p class = "jobPay"></p>
	
	<p>

	<ul class = "jobCategories">

	</ul>
	</p>

	<p class = "jobPaid"></p>
	
	<p class = "jobEquipment"></p>
	
	<p class = "jobClient"></p>

</div>
