<ul>

<% @job.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<%= form_for @job do |f| %>
	<%= f.label :name %>:
	<%= f.text_field :name %>
	<br>
	<br>
	Date of the Job:
	<%= f.text_field :jobdate %>
	<br>
	<br>
	<%= f.label :paid %>:
	<%= f.check_box :paid %>
	<br>
	<br>
	<%= f.label :payrate %>:
	<%= f.number_field :payrate %>
	<br>
	<br>
	Equipment needed:
	<%= f.text_area :equipment %>
	<br>
	<br>
	Category:
	<%= f.collection_check_boxes :category_ids, Category.all, :id, :title %>
	<br>
	<br>
	Create a New Category:
	<br>
	<%= f.fields_for :categories, @job.categories.build do |categories_fields| %>
		Title:<%= categories_fields.text_field :title %>
	<% end %>
	<br>
	<br>
	Client:
	<% @clients.each do |client| %>
		<%= f.radio_button :client_id, client.id %>
		<%= f.label :client_id, client.fullname %>
	<% end %>
	<br>
	<br>	

	<br>
	<br>
	<%= f.submit %>

	
<% end %>
