<h3><%= @job.name %>'s information:</h3>

<div>
	Date of the job: <%= @job.jobdate %>
	<br>
	Pay rate: $<%= @job.payrate %>
	<br>
	Category: <%= @job.category.title %>
	<br>
	Paid: <%= @job.paid %>
	<br>
	Equipment: <%= @job.equipment %>
</div>

