<h3 class = "jobName"><%= @job.name %>'s information:</h3>

<div>
	<p class = "jobDate">Date  and Time: <%= @job.readable_jobdate %></p>
	
	<p class = "jobPay">Pay rate: $<%= @job.payrate %></p>
	
	<p>
	Category: 
	<ul class = "jobCategories">
		<% @job.categories.each do |category| %>
		
			<li><%= category.title  %></li>

		<% end %>
	</ul>
	</p>

	<p class = "jobPaid">Paid: <%= @job.paid %></p>
	
	<p class = "jobEquipment">Equipment: <%= @job.equipment %></p>
	
	<p class = "jobClient">Client: <%= link_to "#{@job.client.fullname}", client_path(@job.client) %></p>
</div>

<div>
<%= link_to "Edit Job", edit_job_path(@job) %>
<%= link_to "Delete Job", job_path(@job), :method => :delete %>
<a href="#" class="js-next" data-id="<%=@job.id%>">Next Job</a>
<div>

<div style="margin-top: 15px">
<%= link_to "See all Jobs", jobs_path, class: 'allJobs' %>
</div>

<div class="allJob">
	<ul>
	</ul>
</div>