<h3><%= @job.name %>'s information:</h3>

<div>
	Date of the job: <%= @job.jobdate %>
	<br>
	Pay rate: $<%= @job.payrate %>
	<br>
	Category: 
	<% @job.categories.each do |category| %>
		<%= category.title  %>
	<% end %>
	<br>
	Paid: <%= @job.paid %>
	<br>
	Equipment: <%= @job.equipment %>
	<br>
	Client: <%= link_to "#{@job.client.fullname}", client_path(@job.client) %>
</div>

<div>
<%= link_to "Edit Job", edit_job_path(@job) %>
<%= link_to "Delete Job", job_path(@job), :method => :delete %>
<%= link_to "Back", jobs_path %>
</div>