<h3>Welcome to your Profile, <%= @user.name %></h3>

<div>
<%= link_to "See all your jobs", jobs_path %> 
<br>
<%= link_to "See all your clients", clients_path %>
<br>
<%= link_to "Create a job", new_job_path %>
<br>
<%= link_to "Create a client", new_client_path %>
</div>

<br>

<%= link_to "Edit your Info", edit_user_path(@user) %>