<nav class="">
    <ul>
    		<li> <%= link_to "Home", root_path %> </li>
    		<% if logged_in? %>
    		<li> Current user: <%= link_to current_user.name, user_path(current_user) %>
    		<li> <%= link_to 'Log Out', logout_path, method: :delete %></li>
    		<% else %>
  			<li> <%= link_to 'Log In', login_path %></li>
  			<li> <%= link_to 'Sign Up', signup_path %></li>
  			<% end %>

    </ul>
</nav>